<header id="header" xmlns="" xmlns="" xmlns="" xmlns="">

  <nav class="navbar navbar-expand-lg  bg-primary fixed-top navtop">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/../assets/images/terry.png"  id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']"  [routerLinkActive]="['active']" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="Bar">
          <a class="nav-link" [routerLink]="['/bar-panel']"  [routerLinkActive]="['active']" >Bar <span class="sr-only">(current)</span></a>
        </li>
       <li class="nav-item" *ngIf="Lubri">
         <a class="nav-link"  [routerLink]="['/keepers']" [routerLinkActive]="['active']">
           <span><i class="fa fa-filter"></i></span>
           Lubricentro
         </a>
       </li>
        <li class="nav-item" *ngIf="Drugstore">
          <a class="nav-link"  [routerLink]="['/store']" [routerLinkActive]="['active']">
            <span><i class="fa fa-amazon"></i></span>
            Drugstore
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right ml-auto  " *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span><i class="fa fa-sign-in"></i></span>
            Acceder
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right ml-auto  " *ngIf="identity">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name}} <span class=""></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/user-edit']"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Mis Datos</a>
            <a class="dropdown-item" [routerLink]="['/admin-panel']"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Administrar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Salir</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
</header>
