
<div class="container-fluid" [@fadein]>

    <div class="col-md-2 col-sm-2 sb" id="sidebar2">

      <div class="list-group panel">
        <a *ngIf="productos" [routerLink]="['listado-usuarios']" [routerLinkActive]="['activado']" class="list-group-item collapsed" data-parent="#sidebar2">
          <i class="fa fa-shopping-basket "></i>
          <span class="hidden-sm-down">Productos</span>
        </a>

        <a *ngIf="proveedores" [routerLink]="['listado']" [routerLinkActive]="['activado']" class="list-group-item collapsed" data-parent="#sidebar2">
          <i class="fa fa-truck"></i>
          <span class="hidden-sm-down">Proveedores</span>
        </a>

        <a *ngIf="venta" [routerLink]="['apl-listado']" [routerLinkActive]="['activado']" class="list-group-item collapsed" data-parent="#sidebar2">
          <i class="fa fa--shopping-cart"></i>
          <span class="hidden-sm-down">Venta</span>
        </a>

        <a *ngIf="administracion" href="#menuops" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar2" aria-expanded="false">
          <i class="fa fa-th-list"></i> <span class="hidden-sm-down">Otras</span>
        </a>
        <div class="collapse" id="menuops">
          <a class="list-group-item hovcolor" [routerLink]="['crear-usuario']" [routerLinkActive]="['activado']">Opciones <span><i class="fa fa-list"></i></span></a>
          <a class="list-group-item hovcolor" [routerLink]="['crear-rol']" [routerLinkActive]="['activado']">Opcion 2 <span><i class="fa fa-list"></i></span></a>
          <a class="list-group-item hovcolor" [routerLink]="['listado']" [routerLinkActive]="['activado']">Opcion 3 <span><i class="fa fa-list"></i></span></a>

        </div>
      </div>
    </div>
    <main class="col-lg-9 offset-lg-3 offset-sm-0 offset-md-2  ">

    <router-outlet></router-outlet>

    </main>

</div>



