<h4 class="text-center">Login de usuario</h4>
<div class="d-flex justify-content-center ">

<div class="jumbotron col-lg-5 m-2 p-2 ">


<div class="col-lg-12">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12 no-padding" >
    <p>
      <label>Email</label>
      <input type="text" class="form-control " name="email" #email= "ngModel" [(ngModel)]="user.email" required />
      <span class="alert-danger" *ngIf="!email.valid && email.touched">**Email no Valido</span>
    </p>
    <p>
      <label>Password</label>
      <input type="text" class="form-control" name="password" #password= "ngModel" [(ngModel)]="user.password" required />
      <span class="alert-danger" *ngIf="!password.valid && password.touched">**password no Valido</span>
    </p>

    <p>
      <input type="submit" value="  Entrar  " class="btn btn-success float-right m-1" [disabled]="!loginForm.form.valid" />

    </p>

    <div class="loader " *ngIf="loading==='show'">
      <img src="../../../assets/images/gearxs.gif" />
    </div>

  </form>
</div>
</div>

</div>
<div class="identity-alert alert alert-danger col-lg-6 offset-3" *ngIf="identity && identity.data" >
  !Usuario o Contraseña incorrectos!
</div>
<div class="identity-alert alert alert-success col-lg-6 offset-3" *ngIf="identity && identity.sub" >
  !te has logeado correctamente! Bienvenido {{identity.email}}
</div>


  <!--/row-->

