<div class="col-lg-12">
  <div class="loader" *ngIf="loading=='show'">
    <img src="../../../../../assets/images/bike.gif" />

  </div>
<div class="col-lg-12" *ngIf="roles" [@fadein]>
<h3>
  {{title}}
</h3>
  <table class="table table-hover">
    <thead class="thead-default">
    <tr>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rol of roles">
      <td>{{rol.descRol}}</td>
      <td>{{rol.estado}}</td>
      <td>
        <a class="btn btn-sm btn-success" [routerLink]="['../permiso-list',rol.rolId]" *ngIf="rol.estado === 'Activo'">
          <span class="glyphicon glyphicon-eye-open" ></span>
          Ver Permisos a
        </a>
        <button class="btn btn-sm btn-primary" [routerLink]="['../rol-asign',rol.rolId]" *ngIf="rol.estado === 'Activo'">
          <span class="glyphicon glyphicon-pencil"></span>
          Asignar
        </button>
        <button *ngIf="rol.estado === 'Activo'" class="btn btn-sm btn-danger" (click)="deshabilitarRol(rol.rolId)">
          <span class="glyphicon glyphicon-remove-sign"></span>
          Deshabilitar
        </button>
        <button *ngIf="rol.estado === 'Inactivo'" class="btn btn-sm btn-info" (click)="deshabilitarRol(rol.rolId)">
          <span class="glyphicon glyphicon-ok"></span>
          Habilitar
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</div>
