<div class="d-flex flex-column">
  <div class="loader" *ngIf="loading=='show'">
    <img src="../../../../../assets/images/bike.gif" />
 </div>
<div class="d-flex justify-content-between bd-highlight mb-3">
  <div class="p-2 bd-highlight"><h3>{{title}}</h3></div>
  <div class="p-2 bd-highlight">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Filtro</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" #filtroselect (change)="filtrar(filtroselect.value)">
      <option selected>Elegir...</option>
      <option value="Activos">Activos</option>
      <option value="Inactivos">Inactivos</option>
      <option value="Todos">Todos</option>
    </select>

  </div>
</div>
<div class="col-lg-12" *ngIf="users">





  <table class="table table-striped">
    <thead class="thead-default">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" [@fadein2] [class.text-muted]="user.estado==='Inactivo'">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td >
        <a *ngIf="user.estado==='Activo'" class="btn btn-sm btn-success" [routerLink]="['../user-detail',user.id]">
          <span class="glyphicon glyphicon-eye-open"></span>
          Ver Detalle
        </a>

        <a *ngIf="user.estado==='Activo'" class="btn btn-sm btn-primary " [routerLink]="['../edit',user.id]">
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        </a>
        <button *ngIf="user.estado==='Activo'" class="btn btn-sm btn-danger" (click)="deshabilitarUser(user.id)">
          <span class="glyphicon glyphicon-remove-sign"></span>
          Inhabilitar
        </button>
        <button *ngIf="user.estado==='Inactivo'" class="btn btn-sm btn-success" (click)="deshabilitarUser(user.id)">
          <span class="glyphicon glyphicon-remove-sign"></span>
          Habilitar
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</div>
<router-outlet></router-outlet>
