


<div class="col-lg-12">
  <div class="loader" *ngIf="loading=='show'">
    <img src="../../../../../assets/images/bike.gif" />
  </div>
  <div class="col-lg-12" *ngIf="roles">
    <h3>{{aplActivo}}</h3>
    <h4>Roles</h4>

    <table class="table table-hover">
      <thead class="thead-default">
      <tr>
        <th>Rol</th>
        <th>Estado</th>
        <th>Asignar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rol of roles" [@fadein2]>
        <td>{{rol.descRol}}</td>
        <td>{{rol.estado}}</td>
        <td>
          <label *ngIf="loadingRol=='hide'"  class="custom-control custom-checkbox">
            <input  id="chk" (change)="grabarRxA(rol.rolId,rol.usuario)" type="checkbox" class="custom-control-input" value="{{rol.rolId}}" [checked]="rol.usuario=='OK'">
            <span class="custom-control-indicator"></span>
          </label>
          <span *ngIf="loadingRol=='show'">
            <img src="../../../../../assets/images/ajax-loader.gif" /></span>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <button class="btn btn-success" (click)="volver()">Volver</button>
</div>




