
<div class="container-fluid" [@fadein]>

    <div class="col-lg-2 col-md-3 col-sm-3 sb " id="sidebar2">

      <div class="d-flex flex-wrap col-lg-12 p-0">
        <a *ngIf="pedidos" [routerLink]="['listado-usuarios']" [routerLinkActive]="['activado']" class="list-group-item collapsed" data-parent="#sidebar2">
          <i class="fa fa-cutlery "></i>
          <span class="hidden-sm-down">Mesas</span>
        </a>

        <a *ngIf="pedidos" [routerLink]="['listado']" [routerLinkActive]="['activado']" class="list-group-item collapsed" data-parent="#sidebar2">
          <i class="fa fa-shopping-cart"></i>
          <span class="hidden-sm-down">Pedidos</span>
        </a>

        <a *ngIf="cocina" [routerLink]="['apl-listado']" [routerLinkActive]="['activado']" class="list-group-item collapsed" data-parent="#sidebar2">
          <i class="fa fa-newspaper-o"></i>
          <span class="hidden-sm-down">Menu</span>
        </a>

        <a *ngIf="administrar" href="#menuops" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar2" aria-expanded="false">
          <i class="fa fa-th-list"></i> <span class="hidden-sm-down">Otras</span>
        </a>
        <div class="collapse" id="menuops">
          <a class="list-group-item hovcolor" [routerLink]="['crear-usuario']" [routerLinkActive]="['activado']">Opciones <span><i class="fa fa-list"></i></span></a>
          <a class="list-group-item hovcolor" [routerLink]="['crear-rol']" [routerLinkActive]="['activado']">Opcion 2 <span><i class="fa fa-list"></i></span></a>
          <a class="list-group-item hovcolor" [routerLink]="['listado']" [routerLinkActive]="['activado']">Opcion 3 <span><i class="fa fa-list"></i></span></a>

        </div>
      </div>
    </div>
    <main class="col-lg-10 offset-lg-2 offset-sm-0 col-sm-12 offset-md-2 offset-md-3 col-md-6 ">

    <router-outlet></router-outlet>

    </main>

</div>



