<h2>{{title}}</h2>
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="pill" href="#pills-lista" role="tab" aria-controls="pills-lista" aria-selected="true">Lista</a>
  <a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#pills-pedidos" role="tab" aria-controls="pills-pedidos" >Pedidos</a>
  <a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#pills-reclamos" role="tab" aria-controls="pills-reclamos">Reclamos</a>
</nav>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-lista" role="tabpanel" aria-labelledby="pills-lista-tab">
    <persona-list [tipo_persona]="1" [inom]=true [iape]=true [icuit]=true [ifa]=true ></persona-list>
  </div>
  <div class="tab-pane fade" id="pills-pedidos" role="tabpanel" aria-labelledby="pills-pedidos-tab">
    Pedidos de proveedores
  </div>
  <div class="tab-pane fade" id="pills-reclamos" role="tabpanel" aria-labelledby="pills-reclamos-tab">
    Reclamos..
  </div>
</div>
